.product-carousel{
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
    text-align: center;
}
.product-carousel h3{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 100;
}
.product-container{
  padding: 0 10px;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 0;
}
.pre-btn {
    border: none;
    width: 60px;
    height: 50%;
    position: absolute;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}
.next-btn{
    right: 0;
    border: none;
    width: 60px;
    height: 50%;
    position: absolute;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}
.next-btn:hover{
    cursor: pointer;
}
.pre-btn:hover{
    cursor: pointer;
}
.pre-btn i, 
.next-btn i{
    font-size: 50px;
    backdrop-filter:blur(2px) ;
    padding: 20px 25px;
    border-radius: 60px;
}

/* ==================SMALL DEVICES================= */
@media screen and (max-width: 600px){
    .product-carousel{
        padding: 0;
        margin: 0;
    }
    .product-container{
        margin-left: 0;
        margin-right: 0;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
      }   
      .pre-btn i, 
      .next-btn i{
        font-size: 20px;
        padding: 15px 18px;
        border-radius: 60px;
        background-color: black;
        color: white;
        opacity: 0.55;
      }
      .product-carousel h3{
      
        font-size: 18px;
    }
}

