.mycard-wrapper{
    min-width: 1510px;
}
.mycard-container{
    padding: 50px;
    background-color: rgb(249, 247, 247);
    margin-left: 300px;
    margin-right: 300px;
}
.img-box{
    display: flex;
    justify-content: center;
}
.img-big{
    height: 350px;
    width: 550px;
    margin: 10px;
}
.img-small{
    height: 350px;
    width: 300px;
    margin: 10px;
}
.event-title h1{
    margin: 10px;
    margin-top:13px ;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;

}
.event-title span{
    /* margin-left: 10px; */
    color: white;
    background-color: black;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.event-title h3{
    margin: 18px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.event-details p{
    margin: 10px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    
}

/* ==================SMALL DEVICES================= */
@media screen and (max-width: 600px){
    .mycard-wrapper {
      padding: 0;
      margin-right: 5px;
      margin-left: 5px;
      min-width: 350px;
    }
    .mycard-container {
      width: 350px;
      height: 600px;
      padding: 0;
      padding-top: 20px;
      margin: 0 auto; /* Center the container horizontally */
      text-align: center; /* Center text horizontally */
      border-radius: 20px;
    }
    .img-big {
      margin: 5px auto; /* Center the image horizontally */
      height: 220px;
      width: 300px;
      display: block; /* Ensure it takes full width available */
      border-radius: 10px;
    }
    .img-small {
      margin: 5px auto; /* Center the image horizontally */
      height: 200px;
      width: 180px;
      display: block; /* Ensure it takes full width available */
      border-radius: 10px;
    }
    .event-title h1 {
      padding: 0 10px;
      margin: 0;
      font-size: 11px;
    }
    .event-title h3 {
      padding: 12px;
      margin: 0;
      font-size: 8px;
    }
    .event-details p {
      padding: 10px;
      margin: 0;
      font-size: 8px;
    }
    .img-box {
      padding: 0px;
      margin: 0;
      flex-direction: column;
    }
  }
  