
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

*{
  
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    
}
.main-container{
  background: white;   
  background-size: contain;
}

hr{
  width: 80%;
  margin: auto;
  opacity: 0.5;
}

header ul{
  display: flex;
  justify-content: right;
  align-items: center;
  list-style: none;
  padding: 10px 10px;
}
.main-container header .non-responsive{
  position: absolute;
  left: 30px;
  height: 30px;
  top: 20px;
}
header ul li a{
  text-decoration: none;
  padding: 0 30px;
  color: black;
  font-size: 16px;
  font-weight: 450;
}

header ul li a:hover{
  color: rgb(108, 108, 108);
  transition: .1s;
}
.active{
  display: none;
}

header .nav-btn{
  visibility: hidden;
  z-index: 3000;
}
header .nav-btn1{
  visibility: hidden;
  z-index: 3000;
}
header .nav-btn1 i{
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 30px;
  /* color: rgb(80, 79, 79); */
  background-color: white;
  backdrop-filter: blur(20px);
}
header .nav-btn i{
  border-radius: 50px;
  font-size: 30px;
  padding: 10px;
  color: white;
}

nav{
  background: white; 
  width: 100%;
  /* opacity: 0.9; */
  position: fixed;
  top: 0; /* Stick the navbar to the top of the viewport */
  z-index: 100;
}


/* ==================SMALL DEVICES================= */
@media screen and (max-width: 600px){

  header ul{
    flex-direction: column;
  }
  header .nav-btn{
    position: absolute;
    right: 40px;   
    top: 20px;
  }
  header .nav-btn1{
    visibility: visible;
    background:transparent;
    border: none;
    padding-top: 10px;
    font-size: 30px;
    padding-left: 20px;
    position: fixed;
    right: 20px;    
  }
  header{
  padding-bottom: 35px;
}
  header .nav-btn1 i:hover{
    background: gray;
  }
  header .nav-btn i:hover{
    background: gray;
  }
  header ul button{
    padding-bottom: 0px;
  }
  header ul button i{
    font-size: 30px;
  }
  header ul .nav-btn{
    visibility: visible;
    background: transparent;
    border: none;
    font-size: 25px;
    width: 30px;
  }

  header nav{
    opacity: 0.95;
    top: 0;
    left: 0;
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive-nav{
    transform: none;
    height: 100vh;
    opacity: 1;
    background-color: black;
    z-index: 3000;
  }
  header ul{
    text-align: center;
    align-items: center;
    margin-top: 25%;
  }
  header li {
    padding: 15px;
  }
  header ul li a{
    padding: 0;
    font-size: 20px;
    font-weight: 2500;
    color: white;
  }
  header ul li a:hover{
    border: none;
  }
  .main-container header img{
    height: 25px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 10px;
    padding-left: 20px;
   
  }
}