.poem-container {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 6rem;
}

#poem {
    margin: 0 auto;
    max-width: 800px;
}
.poet-name{
    margin-top: 30px ;
}
.poem-container h1{
    margin-bottom: 30px;
}

 /* ==================SMALL DEVICES================= */
 @media screen and (max-width: 600px){
    .poem-container {
        font-size: 12.5px;
    }
 }